MANAKAH RESTORAN YANG TERFAVORIT?

Parameter dikatakan "favorit" :
    a. Jumlah orderan diatas 5 ;
    b. Pesanan tidak pernah dibatalkan ;
    c. Presentase value order yang dibatalkan adalah 0%

1. IMPORT LIBARARY DAN DATASET

In [35]:
import pandas as pd
import numpy as np

In [14]:
data = pd.read_csv('../hasilclone/pandas_journey/mydata/food_delivery_datasets.csv')

In [15]:
data

,order_id,voucher_amount,date_time,eta_seconds,food_price,cust_id,rating,delivery_fee,resto_id,status,random_id
0,FOOD-10455,0,2018-08-12T20:35:08.001006,1800,18900,1089034,5.0,4000,742638033,Completed,0.511149
1,FOOD-10985,0,2018-09-23T17:44:12.243273,2173,149000,180146,5.0,11000,742767245,Completed,0.832936
2,FOOD-10911,0,2018-09-19T18:08:09.387991,1418,43800,366528,NaN,9000,742618303,Completed,0.828026
3,FOOD-10932,0,2018-09-21T01:24:35.272499,1903,39900,511038,5.0,14000,742541172,Completed,0.239377
4,FOOD-10961,0,2018-09-22T17:57:45.523161,1716,77700,1220358,NaN,4000,742604875,Completed,0.995587
...,...,...,...,...,...,...,...,...,...,...,...
1071,FOOD-10921,0,2018-09-20T15:01:52.152828,900,103200,1296335,5.0,4000,742742150,Completed,0.248328
1072,FOOD-10265,5000,2018-07-26T14:43:23.655294,1579,145700,1135466,5.0,7000,742566851,Completed,0.268251
1073,FOOD-10534,0,2018-08-21T20:10:59.283185,2606,177200,1383625,NaN,15000,742571888,Completed,0.132528
1074,FOOD-10158,0,2018-07-16T14:42:23.214427,2428,49300,1094787,5.0,9000,742725064,Completed,0.167946
1075,FOOD-10770,0,2018-09-11T14:18:19.494258,1547,43000,1010922,5.0,9000,742594499,Completed,0.358051

2. AMBIL KOLOM RESTO_ID DAN STATUS UNTUK MENJAWAB PERTANYAAN

In [16]:
data.groupby(['resto_id', 'status']).food_price.sum()

resto_id   status
200000639  Completed     73100
200000964  Completed     99600
200001006  Completed     28900
200001973  Completed    155700
200001979  Cancelled    110800
                         ...
742808523  Completed     39100
742809792  Completed     20100
742810086  Cancelled    121400
742813095  Cancelled     75900
742814735  Completed     32100
Name: food_price, Length: 767, dtype: int64

In [17]:
data_sumrestostatus = data.groupby(['resto_id', 'status']).food_price.sum()

In [18]:
data_sumrestostatus.unstack('status')

status     Cancelled  Completed
resto_id
200000639        NaN    73100.0
200000964        NaN    99600.0
200001006        NaN    28900.0
200001973        NaN   155700.0
200001979   110800.0        NaN
...              ...        ...
742808523        NaN    39100.0
742809792        NaN    20100.0
742810086   121400.0        NaN
742813095    75900.0        NaN
742814735        NaN    32100.0

[671 rows x 2 columns]

In [36]:
df_statusresto = data_sumrestostatus.unstack('status')

3. MENAMBAH 1 KOLOM YAKNI JUMLAH_ORDERAN MASING MASING RESTO

In [37]:
df_statusresto['jumlah_orderan'] = data_sizeorderanresto

In [38]:
df_statusresto

status     Cancelled  Completed  jumlah_orderan
resto_id
200000639        NaN    73100.0               1
200000964        NaN    99600.0               2
200001006        NaN    28900.0               1
200001973        NaN   155700.0               1
200001979   110800.0        NaN               1
...              ...        ...             ...
742808523        NaN    39100.0               1
742809792        NaN    20100.0               1
742810086   121400.0        NaN               1
742813095    75900.0        NaN               2
742814735        NaN    32100.0               1

[671 rows x 3 columns]

4. SET JUMLAH_ORDERAN SESUAI BOUNDARIES AWAL YAKNI RESTO YANG ORDERANNYA LEBIH DARI 5

In [39]:
df_statusresto[df_statusresto['jumlah_orderan']>5]

status     Cancelled  Completed  jumlah_orderan
resto_id
200003382   284800.0   344000.0               6
742538031    48400.0   381400.0               8
742586477        NaN   317700.0               6
742591683   217000.0   588700.0              12
742602057   149400.0   233000.0               6
742610474    45500.0   224900.0              12
742617670    97600.0   341800.0               6
742622470   716100.0    88600.0               9
742676756    90800.0   336600.0               9
742731698    75000.0   306300.0               9

In [40]:
df_restostatus_b = df_statusresto[df_statusresto['jumlah_orderan']>5]

In [41]:
df_restostatus_b[['Cancelled','Completed']].sum()

status
Cancelled    1724600.0
Completed    3163000.0
dtype: float64

In [42]:
df_restostatus_b[['Cancelled','Completed']].sum(axis = 1)

resto_id
200003382    628800.0
742538031    429800.0
742586477    317700.0
742591683    805700.0
742602057    382400.0
742610474    270400.0
742617670    439400.0
742622470    804700.0
742676756    427400.0
742731698    381300.0
dtype: float64

5. MENGHITUNG PRESENTASI ORDER YANG DICANCEL

In [43]:
df_restostatus_b['value_total'] = df_restostatus_b[['Cancelled','Completed']].sum(axis = 1)

<ipython-input-43-66ed9613085b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_restostatus_b['value_total'] = df_restostatus_b[['Cancelled','Completed']].sum(axis = 1)

In [44]:
df_restostatus_b['presentase_cancel'] = df_restostatus_b['Cancelled']/df_restostatus_b['value_total']

<ipython-input-44-8cca549f9798>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_restostatus_b['presentase_cancel'] = df_restostatus_b['Cancelled']/df_restostatus_b['value_total']

In [45]:
df_restostatus_b['presentase_cancel']

resto_id
200003382    0.452926
742538031    0.112611
742586477         NaN
742591683    0.269331
742602057    0.390690
742610474    0.168269
742617670    0.222121
742622470    0.889897
742676756    0.212447
742731698    0.196696
Name: presentase_cancel, dtype: float64

In [46]:
df_restostatus_b['presentase_cancel'] = (df_restostatus_b['Cancelled']/df_restostatus_b['value_total']).fillna(0)

<ipython-input-46-f62de8fe7f2e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_restostatus_b['presentase_cancel'] = (df_restostatus_b['Cancelled']/df_restostatus_b['value_total']).fillna(0)

In [47]:
df_restostatus_b['presentase_cancel']

resto_id
200003382    0.452926
742538031    0.112611
742586477    0.000000
742591683    0.269331
742602057    0.390690
742610474    0.168269
742617670    0.222121
742622470    0.889897
742676756    0.212447
742731698    0.196696
Name: presentase_cancel, dtype: float64

In [48]:
df_restostatus_b.sort_values('presentase_cancel', ascending=False)

status,Cancelled,Completed,jumlah_orderan,value_total,presentase_cancel
resto_id,,,,,
742622470,716100.0,88600.0,9,804700.0,0.889897
200003382,284800.0,344000.0,6,628800.0,0.452926
742602057,149400.0,233000.0,6,382400.0,0.390690
742591683,217000.0,588700.0,12,805700.0,0.269331
742617670,97600.0,341800.0,6,439400.0,0.222121
742676756,90800.0,336600.0,9,427400.0,0.212447
742731698,75000.0,306300.0,9,381300.0,0.196696
742610474,45500.0,224900.0,12,270400.0,0.168269
742538031,48400.0,381400.0,8,429800.0,0.112611
742586477,NaN,317700.0,6,317700.0,0.000000

Diperoleh, resto terfavorit adalah resto dengan id 742586477 (memenuhi boundaries jumlah orderan diatas lima dan presentase cancel 0 persen)